

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>





<p id="notice"><%= notice %></p>

<!-- <h1>Standards</h1> -->

<select  id="ds1">
        <option>Days</option>
        <option>monday</option>
        <option>tuesday</option>
        <option>wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
        <option>saturday</option>
       
</select>

  <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "tg1"})%>
        <% end %>



  <button class="btn btn-danger" onclick="send()">send</button>




<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
<table id="customers">


  
    <tr>
      <th>Day</th>
      <th>lecture</th>
      <th>subject</th>
      <th>standard</th>
      <th>division</th>
      <th>Teacher</th>    
    </tr>
    <% @standards.each do |standard| %>
      <tr>
          <td ><%= Timetable.find(standard).day%></td>

          <td ><%= Timetable.find(standard).lecture%></td>

          <td><%= Timetable.find(standard).subject%></td>

          <td><%= Timetable.find(standard).standard%></td>

          <td><%= Timetable.find(standard).division%></td>

          <td><%= Timetable.find(standard).teacher%></td>
      </tr>
  

   
  <% end -%>
</table>
<script type="text/javascript">
  var day;
 var teacher;


 // $("#ds1").on('change',function(){
 //          day =$("#ds1 option:selected").text();
 //    });
 // $("#tg1").on('change',function(){
 //            b.push($("#ms1 option:selected").text());
 //    });
 
    

function send(){
  var a=$("#ds1 option:selected").text();
  alert(a);
  var b=$("#tg1 option:selected").text();
  alert(b);


  location.href="/teacherdata?"+"day="+a+"&teacher="+b;
}


</script>
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

<br>



    
   


