

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>






<p id="notice"><%= notice %></p>
<style type="text/css">
  .btn-danger {
    top: 10px;
    color: #fff;
    border-color: #ca5e51;
    background: #e46050;
    margin-top: 170px;
}
</style>

<!-- <h1>Standards</h1> -->
<div  class="absolu">
<select  id="ds1">
        <option>Days</option>
        <option>monday</option>
        <option>tuesday</option>
        <option>wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
        <option>saturday</option>
       
</select>
</div>
<div  class="absol">
  <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "tg1"})%>
        <% end %>
</div>


  <button class="btn btn-danger" onclick="send()">send</button>
   



<table id="customers" >


  
    <tr>
      <th>Day</th>
      <th>lecture</th>
      <th>subject</th>
      <th>standard</th>
      <th>division</th>
      <th>Teacher</th>    
    </tr>

    <% @standards.each do |standard| %>
      <tr>
          <td ><%= Timetable.find(standard).day%></td>

          <td ><%= Timetable.find(standard).lecture%></td>

          <td><%= Timetable.find(standard).subject%></td>

          <td><%= Timetable.find(standard).standard%></td>

          <td><%= Timetable.find(standard).division%></td>

          <td><%= Timetable.find(standard).teacher%></td>
      </tr>
  

   
  <% end -%>
</table>
<script type="text/javascript">
  var day;
 var teacher;
function send(){
  var a=$("#ds1 option:selected").text();
  alert(a);
  var b=$("#tg1 option:selected").text();
  alert(b);


  location.href="/teacherdata?"+"day="+a+"&teacher="+b;
}
</script>






    
   


