


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<p id="notice"><%= notice %></p>


<style type="text/css">
	#example {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
     margin-top: 70px;
}

#example td, #example th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 10px;
}

#example tr, #example td{
  background-color: #f2f2f2;

}

#example tr, #example td:hover {background-color: #ddd;}

#example th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
   .sees {
    top: 10px;
    color: #fff;
    border-color: #ca5e51;
    background: #e46050;
    margin-top: 170px;
}
.btn-get{
        color: #fff;
    border-color: #ca5e51;
    background: #e46050;
}


</style>

<div class="absolu">
<select  id="dy1">
        <option>Days</option>
        <option>monday</option>
        <option>tuesday</option>
        <option>Wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
        <option>saturday</option>
       
</select>
</div>
<div class="absol">
  <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "tr1"})%>
        <% end %>
</div>


  <button class="sees" onclick="send()">Click</button>





<table id="example">
        <thead>
            <tr>
                <th>Teacher name</th>
                <th>Lecture</th>
                <th>Status</th>
                <th>Day</th>
               
            </tr>
        </thead>
 <%if @ad==false && @at==false%>
        <tbody>

           <% if @lecture1==true %>
            <tr>
                <td><%=@teacher%></td>
                <td>Lecture 1</td>
                <td><button class="btn-get">OFF</button></td>
                <td><%=@day%></td>
            </tr>
        
            <% end -%>
            <%  if @lecture2==true %>
                <tr>
                <td><%=@teacher%></td>
                <td>Lecture 2</td>
                <td><button class="btn-get">OFF</button></td>
                <td><%=@day%></td>
            </tr>
            <% end -%>
             <%  if @lecture3==true %>
                <tr>
                <td><%=@teacher%></td>
                <td>Lecture 3</td>
                <td><button class="btn-get">OFF</button></td>
                <td><%=@day%></td>
            </tr>
            <% end -%>
             <%  if @lecture4==true %>
              <tr>
                <td><%=@teacher%></td>
                <td>Lecture 4</td>
                <td><button class="btn-get">OFF</button></td>
                <td><%=@day%></td>
            </tr>
            <% end -%>
         
               
    
 </tbody>
 
        <tfoot>
            <tr>
                <th>Teacher name</th>
                <th>Lecture</th>
                <th>Status</th>
                <th>Day</th>
            </tr>
        </tfoot>
    </table>

<% end -%>
<script type="text/javascript">
	$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<script type="text/javascript">

function send(){
  var a=$("#dy1 option:selected").text();
  alert(a);
  var b=$("#tr1 option:selected").text();
  alert(b);


  location.href="/offlecture?"+"day="+a+"&teacher="+b;
}


</script>
