
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="absolute">
    
<select  id="d1">
        <option>A</option>
        <option>B</option>
        <option>C</option>
        <option>D</option>
</select>

</div>
<div class="absolte">
<select  id="s1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        
</select>

</div>





<div class="cd-schedule loading">
  <div class="timeline">
    <ul>
      <li><span>09:00</span></li>
      <li><span>09:30</span></li>
      <li><span>10:00</span></li>
      <li><span>10:02</span></li>
      <li><span>10:30</span></li>
      <li><span>11:00</span></li>
      <li><span>11:30</span></li>
      <li><span>12:00</span></li>
      <li><span>12:30</span></li>
      <li><span>13:00</span></li>
    </ul>
  </div> <!-- .timeline -->
<!-- <h1><p>Click on this paragraph.</p></h1> -->
   
  <div class="events">
    <ul>
      <li class="events-group">
        <div class="top-info"><span>Monday</span></div>

        <ul>
        <li class="single-event" data-start="09:00" data-end="09:58" data-content="event-restorative-yoga" data-event="event-5"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ms1"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "mt1"})%>
        <% end %></li>
         
        <li class="single-event" data-start="10:00" data-end="10:58" data-content="event-restorative-yoga" data-event="event-5"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ms2"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "mt2"})%>
        <% end %></li><br>
        <li class="single-event" data-start="11:00" data-end="11:58" data-content="event-restorative-yoga" data-event="event-5"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ms3"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "mt3"})%>
        <% end %></li>
        <li class="single-event" data-start="12:00" data-end="12:58" data-content="event-restorative-yoga" data-event="event-5"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ms4"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "mt4"})%>
        <% end %></li>
        </center>

     
        </ul>
      </li>
      
      <li class="events-group">
        <div class="top-info"><span>Tuesday</span></div>

        <ul>   
       <li class="single-event" data-start="09:00" data-end="09:58" data-content="event-restorative-yoga" data-event="event-3"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ts1"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "tt1"})%>
        <% end %></li>
         
        <li class="single-event" data-start="10:00" data-end="10:58" data-content="event-restorative-yoga" data-event="event-3"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ts2"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "tt2"})%>
        <% end %></li>
        <li class="single-event" data-start="11:00" data-end="11:58" data-content="event-restorative-yoga" data-event="event-3"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ts3"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "tt3"})%>
        <% end %></li>
        <li class="single-event" data-start="12:00" data-end="12:58" data-content="event-restorative-yoga" data-event="event-3"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ts4"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "tt4"})%>
        <% end %></li>
        </center>
               </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Wednesday</span></div>

        <ul>
          <li class="single-event" data-start="09:00" data-end="09:58" data-content="event-restorative-yoga" data-event="event-2"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ws1"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "wt1"})%>
        <% end %></li>
         
        <li class="single-event" data-start="10:00" data-end="10:58" data-content="event-restorative-yoga" data-event="event-2"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ws2"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "wt2"})%>
        <% end %></li>
        <li class="single-event" data-start="11:00" data-end="11:58" data-content="event-restorative-yoga" data-event="event-2"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ws3"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "wt3"})%>
        <% end %></li>
        <li class="single-event" data-start="12:00" data-end="12:58" data-content="event-restorative-yoga" data-event="event-2"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ws4"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "wt4"})%>
        <% end %></li>
        </center>

        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Thursday</span></div>

        <ul>
        <li class="single-event" data-start="09:00" data-end="09:58" data-content="event-restorative-yoga" data-event="event-1"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ths1"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "tht1"})%>
        <% end %></li>
         
        <li class="single-event" data-start="10:00" data-end="10:58" data-content="event-restorative-yoga" data-event="event-1"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ths2"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "tht2"})%>
        <% end %></li>
        <li class="single-event" data-start="11:00" data-end="11:58" data-content="event-restorative-yoga" data-event="event-1"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ths3"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "thw3"})%>
        <% end %></li>
        <li class="single-event" data-start="12:00" data-end="12:58" data-content="event-restorative-yoga" data-event="event-1"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ths4"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
       <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "tht4"})%>
        <% end %></li>
        </center>
       
        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Friday</span></div>

        <ul>
         <li class="single-event" data-start="09:00" data-end="09:58" data-content="event-restorative-yoga" data-event="event-3"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "fs1"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "ft1"})%>
        <% end %></li>
         
        <li class="single-event" data-start="10:00" data-end="10:58" data-content="event-restorative-yoga" data-event="event-3"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "fs2"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "ft2"})%>
        <% end %></li>
        <li class="single-event" data-start="11:00" data-end="11:58" data-content="event-restorative-yoga" data-event="event-3"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "fs3"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "ft3"})%>
        <% end %></li>
        <li class="single-event" data-start="12:00" data-end="12:58" data-content="event-restorative-yoga" data-event="event-3"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "fs4"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "ft4"})%>
        <% end %></li>
        </center>
        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>saturday</span></div>

        <ul >
         <li class="single-event" data-start="09:00" data-end="09:58" data-content="event-restorative-yoga" data-event="event-5"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ss1"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "st1"})%>
        <% end %></li>
         
        <li class="single-event" data-start="10:00" data-end="10:58" data-content="event-restorative-yoga" data-event="event-5"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ss2"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "st2"})%>
        <% end %></li>
        <li class="single-event" data-start="11:00" data-end="11:58" data-content="event-restorative-yoga" data-event="event-5"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ss3"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "st3"})%>
        <% end %></li>
        <li class="single-event" data-start="12:00" data-end="12:58" data-content="event-restorative-yoga" data-event="event-5"><center>
        <%= form_with(model: Subject, local: true) do |form| %>
         <%=form.collection_select(:model, Subject.all, :id,:s_name,{:prompt => 'select subject'}, {:id => "ss4"}) %>
        <% end %><br>
         <%= form_with(model: Teacher, local: true) do |form| %>
         <%=form.collection_select(:model, Teacher.all, :id, :name,{:prompt => ' Select Teacher'}, {:id => "st4"})%>
        <% end %></li>
        </center>
        </ul>
      </li>
    </ul>
  </div>

<!-- 
  ========================================================= -->
       


  <button onclick="save()" class="sav">save</button>
 <script type="text/javascript">
//  var teacher = [];
//     var subject = [];

// function save(){
//       for (var i = 1; i <=4; i++) {
//         var tea=[];
//         var tea = document.getElementById('mt');

//         alert(tea);


//     }
// }
 var division;
 var standard;

 $("#d1").on('change',function(){
           division=$("#d1 option:selected").text();
    });
    $("#s1").on('change',function(){
            standard=$("#s1 option:selected").html();
    });



   
var mondays=[]; 
var mondayt=[]; 

// For monday column

 // this is to select teacher
    $("#ms1").on('change',function(){
            mondays.push($("#ms1 option:selected").text());
    });
    $("#ms2").on('change',function(){
            mondays.push($("#ms2 option:selected").text());
    });
    $("#ms3").on('change',function(){
            mondays.push($("#ms3 option:selected").text());
    });
    $("#ms4").on('change',function(){
            mondays.push($("#ms4 option:selected").text());
    });

// this is to Select Teacher
    $("#mt1").on('change',function(){
            mondayt.push($("#mt1 option:selected").text());
    });
    $("#mt2").on('change',function(){
            mondayt.push($("#mt2 option:selected").text());
    });
    $("#mt3").on('change',function(){
            mondayt.push($("#mt3 option:selected").text());
    });
    $("#mt4").on('change',function(){
            mondayt.push($("#mt4 option:selected").text());
    });



var tuesdays=[]; 
var tuesdayt=[];

// For tuesday column

 // this is to select teacher
    $("#ts1").on('change',function(){
            tuesdays.push($("#ts1 option:selected").text());
    });
    $("#ts2").on('change',function(){
            tuesdays.push($("#ts2 option:selected").text());
    });
    $("#ts3").on('change',function(){
            tuesdays.push($("#ts3 option:selected").text());
    });
    $("#ts4").on('change',function(){
            tuesdays.push($("#ts4 option:selected").text());
    });

// this is to Select Teacher
    $("#tt1").on('change',function(){
            tuesdayt.push($("#tt1 option:selected").text());
    });
    $("#tt2").on('change',function(){
            tuesdayt.push($("#tt2 option:selected").text());
    });
    $("#tt3").on('change',function(){
            tuesdayt.push($("#tt3 option:selected").text());
    });
    $("#tt4").on('change',function(){
            tuesdayt.push($("#tt4 option:selected").text());
    });

var wednesdays=[]; 
var wednesdayt=[];

// For Wednesday column

 // this is to select teacher
    $("#ws1").on('change',function(){
            wednesdays.push($("#ws1 option:selected").text());
    });
    $("#ws2").on('change',function(){
            wednesdays.push($("#ws2 option:selected").text());
    });
    $("#ws3").on('change',function(){
            wednesdays.push($("#ws3 option:selected").text());
    });
    $("#ws4").on('change',function(){
            wednesdays.push($("#ws4 option:selected").text());
    });

// this is to Select Teacher
    $("#wt1").on('change',function(){
            wednesdayt.push($("#wt1 option:selected").text());
    });
    $("#wt2").on('change',function(){
            wednesdayt.push($("#wt2 option:selected").text());
    });
    $("#wt3").on('change',function(){
            wednesdayt.push($("#wt3 option:selected").text());
    });
    $("#wt4").on('change',function(){
            wednesdayt.push($("#wt4 option:selected").text());
    });

    


var thursdays=[]; 
var thursdayt=[];


// For Thursday column

 // this is to select teacher
    $("#ths1").on('change',function(){
            thursdays.push($("#ths1 option:selected").html());
    });
    $("#ths2").on('change',function(){
            thursdays.push($("#ths2 option:selected").html());
    });
    $("#ths3").on('change',function(){
            thursdays.push($("#ths3 option:selected").html());
    });
    $("#ths4").on('change',function(){
            thursdays.push($("#ths4 option:selected").html());
    });

// this is to Select Teacher
    $("#tht1").on('change',function(){
            thursdayt.push($("#tht1 option:selected").html());
    });
    $("#tht2").on('change',function(){
            thursdayt.push($("#tht2 option:selected").html());
    });
    $("#tht3").on('change',function(){
            thursdayt.push($("#tht3 option:selected").html());
    });
    $("#tht4").on('change',function(){
            thursdayt.push($("#tht4 option:selected").html());
    });

    

var fridays=[]; 
var fridayt=[];


// For Friday column

 // this is to select teacher
    $("#fs1").on('change',function(){
            fridays.push($("#fs1 option:selected").text());
    });
    $("#fs2").on('change',function(){
            fridays.push($("#fs2 option:selected").text());
    });
    $("#fs3").on('change',function(){
            fridays.push($("#fs3 option:selected").text());
    });
    $("#fs4").on('change',function(){
            fridays.push($("#fs4 option:selected").text());
    });

// this is to Select Teacher
    $("#ft1").on('change',function(){
            fridayt.push($("#ft1 option:selected").text());
    });
    $("#ft2").on('change',function(){
            fridayt.push($("#ft2 option:selected").text());
    });
    $("#ft3").on('change',function(){
            fridayt.push($("#ft3 option:selected").text());
    });
    $("#ft4").on('change',function(){
            fridayt.push($("#ft4 option:selected").text());
    });

    
var saturndays=[]; 
var saturndayt=[];

// For Saturnday column

 // this is to select teacher
    $("#ss1").on('change',function(){
            saturndays.push($("#ss1 option:selected").text());
    });
    $("#ss2").on('change',function(){
            saturndays.push($("#ss2 option:selected").text());
    });
    $("#ss3").on('change',function(){
            saturndays.push($("#ss3 option:selected").text());
    });
    $("#ss4").on('change',function(){
            saturndays.push($("#ss4 option:selected").text());
    });

// this is to Select Teacher
    $("#st1").on('change',function(){
            saturndayt.push($("#st1 option:selected").text());
    });
    $("#st2").on('change',function(){
            saturndayt.push($("#st2 option:selected").text());
    });
    $("#st3").on('change',function(){
            saturndayt.push($("#st3 option:selected").text());
    });
    $("#st4").on('change',function(){
            saturndayt.push($("#st4 option:selected").text());
    });




function save(){


   var data =
{
    "division": division,
    "standard": standard, 

    "monday": [
        { "ms1": mondays[0]},
        { "ms2": mondays[1]},
        { "ms3": mondays[2]},
        { "ms4": mondays[3]},
        { "mt1": mondayt[0]},
        { "mt2": mondayt[1]},
        { "mt3": mondayt[2]},
        { "mt4": mondayt[3]}
    ],

        "tuesday": [
        { "ts1": tuesdays[0]},
        { "ts2": tuesdays[1]},
        { "ts3": tuesdays[2]},
        { "ts4": tuesdays[3]},
        { "tt1": tuesdayt[0]},
        { "tt2": tuesdayt[1]},
        { "tt3": tuesdayt[2]},
        { "tt4": tuesdayt[3]}
    ],
        "Wednesday": [
        { "ws1": wednesdays[0]},
        { "ws2": wednesdays[1]},
        { "ws3": wednesdays[2]},
        { "ws4": wednesdays[3]},
        { "wt1": wednesdayt[0]},
        { "wt2": wednesdayt[1]},
        { "wt3": wednesdayt[2]},
        { "wt4": wednesdayt[3]}
    ],
        "Thursday": [
        { "ths1": thursdays[0]},
        { "ths2": thursdays[1]},
        { "ths3": thursdays[2]},
        { "ths4": thursdays[3]},
        { "tht1": thursdayt[0]},
        { "tht2": thursdayt[1]},
        { "tht3": thursdayt[2]},
        { "tht4": thursdayt[3]}
    ],
        "Friday": [
        { "fs1": fridays[0]},
        { "fs2": fridays[1]},
        { "fs3": fridays[2]},
        { "fs4": fridays[3]},
        { "ft1": fridayt[0]},
        { "ft2": fridayt[1]},
        { "ft3": fridayt[2]},
        { "ft4": fridayt[3]}
    ],
        "saturday": [
        { "ss1": saturndays[0]},
        { "ss2": saturndays[1]},
        { "ss3": saturndays[2]},
        { "ss4": saturndays[3]},
        { "st1": saturndayt[0]},
        { "st2": saturndayt[1]},
        { "st3": saturndayt[2]},
        { "st4": saturndayt[3]}
    ]
};

alert(JSON.stringify(data));

$.ajax({
        url : "/timetable",
        type : "post",
        data : { data_value: data }
    });


}




// var data;
//  $.ajax('/timetable', {
//             type: 'POST',  // http method
//             data: { data },  // data to submit
//             success: function (data, status, xhr) {
//                 alert(data);
//                 // obj = JSON.parse(data);
//                  // alert(data.part[0].part_name);
//             },
//             error: function (jqXhr, textStatus, errorMessage) {
//                     $('p').append('Error' + errorMessage);
//                 }
//         });
</script>



  <div class="cover-layer"></div>
</div> <!-- .cd-schedule -->
 <!-- Resource jQuery -->

