<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<div class="absolute">
    
<select  id="dd1">
        <option>Division</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
        <option>D</option>
</select>

</div>
<div class="absolte">
<select  id="ss1">
        <option>Standard</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
         <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
         <option>9</option>
        <option>10</option>
        
</select>

</div>
<button id="go" onclick="go()" class="save">go</button>


<% if @a==false %>
  


<div class="cd-schedule loading">
  <div class="timeline">
    <ul>
      <li><span id="a1">09:00</span></li>
      <li><span>09:30</span></li>
      <li><span>10:00</span></li>
      <li><span>10:30</span></li>
      <li><span>11:00</span></li>
      <li><span>11:30</span></li>
      <li><span>12:00</span></li>
      <li><span>12:30</span></li>
      <li><span>01:00</span></li>
  <!--     <li><span>13:30</span></li>
      <li><span>14:00</span></li>
      <li><span>14:30</span></li>
      <li><span>15:00</span></li>
      <li><span>15:30</span></li>
      <li><span>16:00</span></li>
      <li><span>16:30</span></li>
      <li><span>17:00</span></li>
      <li><span>17:30</span></li>
      <li><span>18:00</span></li> -->
    </ul>
  </div> <!-- .timeline -->

  <div class="events">
    <ul>
      <li class="events-group">
        <div class="top-info"><span>Monday</span></div>
         

        <ul>
         <li class="single-event" data-start="09:00" data-end="10:00"  data-event="event-4">
            
              <em class="event-name"><%=Timetable.find(@mondays.first).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@mondays.first).subject%></em>

             
          
          </li>
           <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-restorative-yoga" data-event="event-4">
           
           <em class="event-name"><%=Timetable.find(@mondays.second).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@mondays.second).subject%></em>
               
          </li>

           <li class="single-event" data-start="11:00" data-end="12:00" data-content="event-restorative-yoga" data-event="event-4">
           
           
          <em class="event-name"><%=Timetable.find(@mondays.third).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@mondays.third).subject%></em>
               
          </li>
           <li class="single-event" data-start="12:00" data-end="13:00" data-content="event-restorative-yoga" data-event="event-4">
          
           
             <em class="event-name"><%=Timetable.find(@mondays.fourth).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@mondays.fourth).subject%></em>

           
          </li>
         
        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Tuesday</span></div>

        <ul>
         <li class="single-event" data-start="09:00" data-end="10:00" data-content="event-restorative-yoga" data-event="event-4">
            
           <em class="event-name"><%=Timetable.find(@tuesdays.first).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@tuesdays.first).subject%></em>
            
          </li>
           <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@tuesdays.second).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@tuesdays.second).subject%></em>
           
          </li>
           <li class="single-event" data-start="11:00" data-end="12:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@tuesdays.third).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@tuesdays.third).subject%></em>
           
          </li>
           <li class="single-event" data-start="12:00" data-end="13:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@tuesdays.fourth).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@tuesdays.fourth).subject%></em>
           
          </li>
        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Wednesday</span></div>

        <ul>
        <li class="single-event" data-start="09:00" data-end="10:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@wednesdays.first).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@wednesdays.first).subject%></em>
           
          </li>
           <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@wednesdays.second).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@wednesdays.second).subject%></em>
           
          </li>
           <li class="single-event" data-start="11:00" data-end="12:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@wednesdays.third).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@wednesdays.third).subject%></em>
           
          </li>
           <li class="single-event" data-start="12:00" data-end="13:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@wednesdays.fourth).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@wednesdays.fourth).subject%></em>
           
          </li>


        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Thursday</span></div>

        <ul>
         <li class="single-event" data-start="09:00" data-end="10:00" data-content="event-restorative-yoga" data-event="event-4">
           
             <em class="event-name"><%=Timetable.find(@thursdays.first).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@thursdays.first).subject%></em>
           
          </li>
           <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@thursdays.second).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@thursdays.second).subject%></em>
           
          </li>
           <li class="single-event" data-start="11:00" data-end="12:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@thursdays.third).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@thursdays.third).subject%></em>
           
          </li>
           <li class="single-event" data-start="12:00" data-end="13:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@thursdays.fourth).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@thursdays.fourth).subject%></em>
           
          </li>

        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>Friday</span></div>

        <ul>
         <li class="single-event" data-start="09:00" data-end="10:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@fridays.first).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@fridays.first).subject%></em>
           
          </li>
           <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@fridays.second).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@fridays.second).subject%></em>
           
          </li>
           <li class="single-event" data-start="11:00" data-end="12:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@fridays.third).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@fridays.third).subject%></em>
           
          </li>
           <li class="single-event" data-start="12:00" data-end="13:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@fridays.fourth).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@fridays.fourth).subject%></em>
           
          </li>

        </ul>
      </li>

      <li class="events-group">
        <div class="top-info"><span>saturday</span></div>

        <ul>
         <li class="single-event" data-start="09:00" data-end="10:00" data-content="event-restorative-yoga" data-event="event-4">
           
             <em class="event-name"><%=Timetable.find(@saturdays.first).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@saturdays.first).subject%></em>
              
           
          </li>
           <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@saturdays.second).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@saturdays.second).subject%></em>
           
          </li>
           <li class="single-event" data-start="11:00" data-end="12:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@saturdays.third).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@saturdays.third).subject%></em>
           
          </li>
           <li class="single-event" data-start="12:00" data-end="13:00" data-content="event-restorative-yoga" data-event="event-4">
           
              <em class="event-name"><%=Timetable.find(@saturdays.fourth).teacher%></em> 

               <em class="event-name"><%=Timetable.find(@saturdays.fourth).subject%></em>
           
          </li>
        </ul>
      </li>
    </ul>
  </div>
<%end%>

  <div class="event-modal">
    <header class="header">
      <div class="content">
        <span class="event-date"></span>
        <h3 class="event-name"></h3>
      </div>

      <div class="header-bg"></div>
    </header>

    <div class="body">
      <div class="event-info"></div>
      <div class="body-bg"></div>
    </div>

    <a href="#0" class="close">Close</a>
  </div>

  <div class="cover-layer"></div>
</div>

<!-- 
  <div class="event-modal"> -->
   
<script type="text/javascript">
  var division;
 var standard;

 $("#d1").on('change',function(){
           division=$("#d1 option:selected").text();
    });
    $("#s1").on('change',function(){
            standard=$("#s1 option:selected").html();
    });


function go(){
  var b=$("#dd1 option:selected").text();
  var a=$("#ss1 option:selected").text();

  location.href="/subjects?"+"standard="+a+"&division="+b;
}




function get(){
var ip= $("#ip1").val();
  
  

alert(ip);
}







</script>



